<div class="d-flex p-5 justify-content-center align-items-center">
  <form [formGroup]="fornecedorForm" (ngSubmit)="update()">
    <p>
      Nome: <input type="text" formControlName="nome">
    </p>
    <p>
      Telefone: <input type="text" formControlName="telefone">
    </p>
    <p>
      Endereço: <input type="text" formControlName="endereco">
    </p>
    <div class="d-flex justify-content-center">
        <a href="fornecedor" class="btn btn-danger m-2 p-2">Voltar</a>
        <button class="btn btn-info m-2 p-2 " type="submit">Enviar</button>
    </div>
  </form>
</div>
